<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <style type="text/css"></style>
    <title>Recuperar contraseña</title>
</head>
<body>
<p>Has solicitado recientemente recuperar tu contraseña de cuenta en Call for me.
    <br>Esta es tu nueva contraseña: {{ randomPassword }}
</p>
<p>Por favor, cambiala lo antes posible en la app.</p>
</body>
</html>
