<html>
<head>

</head>
<body>
<h1>Hola, soy CallforMe App
<br>
Necesito que confirmes tu email, para completar el registro de la app, así aseguramos el uso por el propietario. Gracias por tu confianza.
<br>
Estoy a tu disposición para cualquier consulta en, info@callformeapp.com
<br>
¡Es estupendo trabajar para ti!
<br>
Pulsa el siguiente enlace para registrar el email: </h1>
<a href="{{ link }}">{{ link }}</a>
<p>¡Que tengas un magnifico día!</p>
<p>@ 2020 CallforMe App SL - Registro Mercantil Valencia - España</p>
</body>
</html>