<html>
<head>

</head>
<body>
<h1>Hi, I'm CallforMe App
<br>
I need you to confirm your email, to complete the registration of the app, so we ensure the use by the owner. Thank you for your trust.
<br>
I am at your disposal for any question, at info@callformeapp.com
<br>
It's great to work for you!
<br>
Click on the following link to register the email: </h1>
<a href="{{ link }}">{{ link }}</a>
<p>@ 2020 CallforMe App SL - Mercantile Registry Valencia - Spain</p>
<p>Have a great day!<p>

</body>
</html>