<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <style type="text/css"></style>
    <title>Recover password</title>
</head>
<body>
<p>You recently requested to reset your password for your CallforMe account. This is your new password: {{ randomPassword }}</p>
<p>Please, change it as soon as possible in the app.</p>
</body>
</html>
